*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    height: 50px;
    width: 100%;
    background-color: dodgerblue;
    margin: 0px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header .logo{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px ;
    height: 30px;
}



.cart .cartButton{
    all: unset;

}

.fa-solid{
    color: dodgerblue;
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: dodgerblue;
    color: white;
    margin: 5px;
    flex-grow: 0.8;
    flex-basis: 0;
    font-size: 15px
}

.cart-item p, h2{
    margin-bottom: 0px !important;

}

.container{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: #0396FF;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
    
}

.head p{
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.foot h2{
    font-size: 15px;
    font-weight: bold;
}

.foot h3{
    font-size: 15px;
}

#cartItem{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0396FF ;
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.botton h2{
    margin-bottom: 10px !important;
}

h2{
    font-size: 20px;
    color: orange;
    font-weight: bold;
}

button{
    width: 100%;
    position: relative;
    border-color: #0396FF;
    background-color: white;
    padding: 7px 25px;
    cursor: pointer;
    color: #1C1C1C;
    font-weight: bold;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.2s;
    border-width: 1px;

}

button:hover{
    background-color: dodgerblue;
    color: #eee;
    border-color: transparent;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover{
    cursor: pointer;
    color: #333;
}

.close{
    display: none;
}

@media (max-width: 990px) {
    .sidebar {
      display: none !important;
    }
    #root {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .cart-item{
        box-shadow: 0.5px 0.1px 3px 2px rgba(0.2, 0.2, 0.2, 0.2);
    }
    .close{
        display: block;
        top: 10px !important;
        right: 10px !important;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
    }
    .icon-close{
        width: 50px;
        height: 50px;
    }

    .head{
        margin-top: 30px;
    }
    #root{
        grid-template-columns: repeat(2, 1fr);
    }
}

.minhaDivNova {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    padding: 20px;
    min-width: 90%;
    height: 70%;
    box-shadow: 2px 3px 3px 2px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;



  }